################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/.vs
/BackEnd/bin
/BackEnd/obj
/FrontEnd/node_modules
